* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

html {
    overflow-x: hidden;
}

#img-header {
    padding: 1%;
    height: 100px;
    width: 170px;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;

    #img-header {
        padding: 1%;
        height: 100px;
        width: 170px;
    }

    nav {
        display: flex;
        width: 30%;

        li {
            padding: 7%;
            list-style-type: none;
        }

        li:hover {
            text-decoration: underline;
        }
    }
}

main {
    color: white;
    height: auto;

    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #first-page {
        margin-top: 80%;
        border-radius: 10px;
        height: auto;
        text-align: center;

        #welcome-box {
            border: 1px solid rgba(0, 0, 0, 0.638);
            background-color: rgba(0, 0, 0, 0.778);
            h1 {
                font-size: 36px;
            }
    
            p,
            button {
                margin-top: 10%;
            }
    
            button {
                border: none;
                width: 200px;
                height: 30px;
                color: white;
                background-color: black;
                border-radius: 25px;
                transition: 0.15s ease-in-out;
            }
    
            button:hover {
                border: 2px solid black;
                color: black;
                background-color: white;
                font-weight: bold;
                transition: 0.15s ease-in-out;
            }
        }
        
        
    }

  

    #carousel {
        
        display: flex;
        justify-content: space-evenly;
        .item-box {
            border: 1px solid rgba(0, 0, 0, 0.383);
            border-radius: 10px;
            padding: 10px;
            text-align: center;
            margin-top: 20%;
            width: 25%;

            p,h2 {
                color: black;
            }

            img {
                height: 150px;
                width: 150px;
                contain: content;
                border-radius: 50%;
            }

            img:hover {
                height: 170px;
                width: 170px;
                transition: 0.3s ease-in-out;
            }
        }
    }

    #about-us {
        padding-top: 10%;
        display: flex;
        justify-content: space-around;
        
        #about-text, #about-img {
            width: 25%;
        }

        #about-text {
            color: black;

            h1 {
                font-size: 36px;
            }

            p {
                font-size: 20px;
            }
        }

        #about-img {
            height: 70vh;
            width: 20vw;
            background-image: url('./assets/cdior.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 20px;
            
        }
    }


}
